$background-green-color: #82D882;
$border-color: #72ca72;

button{
    background-color: $background-green-color;
    border: solid 2px $border-color;
    cursor: pointer;
    &:hover{
        background-color: $border-color;
    }
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}