$background-white-color: #fff;
$border-color: #d0ebed;

button{
    background-color: $background-white-color !important;
    border: solid 1px $border-color;
    color: #292929 !important;
    font-size: 9px;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;

    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;

    &:hover{
        background-color: $border-color;
    }
}