<div class="input-group">
  <input type="text" class="form-control" placeholder="" />
  <div class="input-group-append">
    <span class="input-group-text"> <ng-content></ng-content> </span>
  </div>
</div>
