$background-white-color: #fff;
$border-color: #70c670;

button{
    background-color: $background-white-color;
    border: solid 1px $border-color;
    color: #70c670 ;
    cursor: pointer;

    &.on{
        border: solid 1px #ec6c6d;
        color: #ec6c6d;
        &:hover{
            background-color: #F5B5B6;
            color: #fff;
        }
    }
    &:hover{
        background-color: #A9DDA9;
        color: #fff;
    }

    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
}