<div class="dropdown-menu">
  <form [formGroup]="form">
    <a class="dropdown-item" href="#"> String display settings</a>
    <div>
      <label>
        <input
          [checked]="aboveTheMenu"
          (click)="test()"
          class="my-checkbox"
          type="checkbox"
        />
        Above the menu
      </label>
    </div>
    <div>
      <label>
        <input
          class="my-checkbox"
          (click)="test()"
          [checked]="!aboveTheMenu"
          type="checkbox"
        />
        Over chart
      </label>
    </div>
    <a class="dropdown-item" href="#"> Coin settings </a>
    <div>
      <label>
        <input
          class="my-checkbox"
          type="checkbox"
          formControlName="favoriteCoins"
        />
        Favorite coins
      </label>
    </div>
    <div>
      <label>
        <input class="my-checkbox" type="checkbox" formControlName="hotCoins" />
        Hot Coins
      </label>
    </div>
  </form>
</div>
