div {
  form {
    padding: 0px 12px;

    a {
      &:hover {
        // transform: ;
        color: #82d682;
        background: none;
      }

      display: block;
      width: 100%;
      padding: 8px 0px;
      font-size: 14px;
      color: #757575;
    }

    label {
      cursor: pointer;
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}
.my-checkbox {
  -webkit-appearance: none;
  vertical-align: baseline;
  border: 1px solid #cacece;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 9px;
  cursor: pointer;
  vertical-align: middle;

  &:checked {
    border-color: #007bff;

    // animation: changeColor 100ms linear;
    background: url('../../../../../assets/img/done_checkbox.svg');
  }
}
.dropdown-menu {
  display: block;
  right: 10px;
  top: unset;
  left: unset;
}
