header {
  border-bottom: solid 1px #e7e7e7;
}
.test {
  right: 10px;
}
.navbar-brand {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #292929;
  text-transform: uppercase;
}
.scroll_text {
  padding: 4.5px 20px 4.5px 4.5px;
  border-bottom: solid 1px #f5f1f1;
  i {
    font-size: 12px;
    color: #ecc705;
    margin-right: 5px;
  }
  .scroll-div {
    div {
      margin-right: 10px;
    }
  }

  p {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.1px;
    color: #292929;
    margin-bottom: 0;
  }
  .display_settings {
    margin-left: 5px;
    padding: 0;
    a {
      display: flex;
      &::after {
        display: none;
      }
      i {
        font-size: 13px;
        color: #82d682;
        margin: 0;
      }
    }
    // .dropdown-menu {
    //   left: unset;
    //   top: -36px;
    //   .dropdown-item {
    //     padding: 9px 12px;
    //   }
    //   a.custom-checkbox {
    //     padding-left: 37px;
    //     font-size: 12px;
    //     font-weight: normal;
    //     font-style: normal;
    //     font-stretch: normal;
    //     letter-spacing: normal;
    //     color: #292929;
    //     align-items: center;
    //     label {
    //       line-height: 1.1;
    //     }
    //   }
    // }
  }
}

.right_nav {
  > a {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    padding: 10px 21px;
    border-radius: 50px;
    &:first-child {
      border: 1px solid #72ca72;
      color: #292929;
      margin-right: 15px;
    }
    &:nth-of-type(2) {
      color: #ffffff;
      background-color: #5abc5a;
      border: 1px solid #5abc5a;
    }
  }
  .full_balance {
    p {
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #292929;
      text-align: right;
      margin-bottom: 7px;
    }
    p:nth-of-type(2) {
      margin-bottom: 0;
    }
  }
  a.lang {
    padding: 0;
    box-shadow: none;
    background: none;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #292929;
    display: flex;
    align-items: center;
    margin: 0 0 0 25px;

    &:hover {
      color: #2e992e;
    }
  }
  .avatar {
    .custom-dropdown {
      position: relative;
      button {
        background: none !important;
        padding: 2px;
        max-width: 40px;
        max-height: 40px;
        margin: 0 0 0 25px;
        width: 40px;
        height: 40px;
        box-shadow: none;
        border-radius: 50% !important;
        position: relative;
        transition: 0.4s all;
        -webkit-transition: 0.4s all;
        -moz-transition: 0.4s all;
        -ms-transition: 0.4s all;
        -o-transition: 0.4s all;
        border: transparent solid 3px;
        position: relative;
        &:hover {
          border: #e6e6e6 solid 3px;
          border-radius: 50%;
        }
        .notification_number {
          font-size: 8px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          color: #ffffff;
          display: flex;
          position: absolute;
          background-color: #fd4d4d;
          border-radius: 50%;
          width: 14px;
          height: 14px;
          align-items: center;
          justify-content: center;
          top: 0;
          right: 0;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      button:after {
        display: none;
      }
      // .dropdown-menu {
      //   min-width: 218px;
      //   top: 38px;
      //   .dropdown-submenu {
      //     .dropdown-menu {
      //       position: relative !important;
      //       top: 0;
      //       box-shadow: none;

      //       a {
      //         font-size: 14px;
      //         font-weight: 400;
      //         font-style: normal;
      //         font-stretch: normal;
      //         line-height: 1;
      //         letter-spacing: normal;
      //         color: #292929;
      //         padding: 2.5px 9px 4px 17px;
      //       }
      //     }
      //   }
      //   a {
      //     i {
      //       font-size: 14px;
      //       color: #ec6c6d;
      //       vertical-align: middle;
      //     }
      //   }
      //   .sellect {
      //     position: relative;
      //     select {
      //       border: none;
      //       background: none;
      //       font-size: 14px;
      //       font-weight: 400;
      //       font-style: normal;
      //       font-stretch: normal;
      //       line-height: 1;
      //       letter-spacing: normal;
      //       color: #3ecc3e;
      //       cursor: pointer;
      //       -webkit-appearance: none;
      //       -moz-appearance: none;
      //       appearance: none;
      //       outline: none;
      //       padding-right: 12px;
      //       text-transform: uppercase;
      //       &:focus {
      //         outline: none;
      //       }
      //     }
      //     &::after {
      //       content: '';
      //       display: block;
      //       background: url(../../../../assets/img/lang-select.svg) no-repeat;
      //       width: 15px;
      //       height: 15px;
      //       position: absolute;
      //       background-size: contain;
      //       top: 4px;
      //       right: 0px;
      //     }
      //   }
      // }
    }
  }
}

.btn_green {
  $background-green-color: #82d882;
  $border-color: #72ca72;

  background-color: $background-green-color;
  border: solid 2px $border-color;
  cursor: pointer;
  &:hover {
    background-color: $border-color;
    color: #fff;
  }
  transition: 0.4s all;
}
