<div class="scroll_text d-flex">
  <app-line-of-currency-quotations
    class="d-flex"
    [pairsInfo]="quotations"
  ></app-line-of-currency-quotations>
  <div class="display_settings d-flex">
    <div>
      <a (click)="toggleOptionsView($event)"
        ><i class="material-icons">settings </i>
      </a>
      <app-string-coin-settings
        *ngIf="showOptions"
        (clickOut)="showOptions = false"
      ></app-string-coin-settings>
    </div>
  </div>
</div>
