.btn-toolbar{
    padding: 0 28px;
    .mess {
        margin: 0 5px 15px 5px;
        background: transparent;
        border-radius: 50% !important;
        cursor: pointer;
        outline: none !important;
        width: 30px;
        height: 30px;
        padding: 2px;
        border: 1px solid transparent;
        &.active{
            border: 1px solid #a5d8a5 !important;
        }
    }
    .input-group{
        width: auto;
        background-color: rgba(196, 196, 196, 0.01);
        border: 1px solid #dbdbdb;
        .input-group-text{
            border-radius: 0;
            background: transparent;
            border: 0;
            padding: 0;
            &::after{
                content: '';
                display: block;
                width: 1px;
                height: 21px;
                border-right: 1px solid #dbdbdb;
            }
            img{
                padding: 12.5px;
            }
        }
        input{
            border-radius: 0;
            background: transparent;
            border: 0;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #757575;
            padding: 9px 8px 8px;
        }
    }
}
