<div class="btn-toolbar">
  <div>
    <button
      *ngFor="let mess of userMessengers"
      class="mess"
      (click)="showMessengerValue(mess)"
      [ngClass]="{ active: showInput && selectedMessenger.name == mess.name }"
    >
      <img [src]="mess.img" />
    </button>
  </div>
  <div class="input-group" *ngIf="showInput">
    <div class="input-group-prepend">
      <div class="input-group-text"><img [src]="selectedMessenger?.img" /></div>
    </div>
    <input
      class="form-control"
      #input
      placeholder="{{ 'Enter your ' + selectedMessenger?.name }}"
      type="text"
      [value]="selectedMessenger.value"
      (blur)="updateMessengers($event.target.value)"
      (keydown.enter)="updateMessengers($event.target.value)"
    />
  </div>
</div>
