<div class="input-group">
  <input
    type="text"
    class="form-control"
    [disabled]="disabled"
    placeholder=""
    [(ngModel)]="value"
    (ngModelChange)="updateChanges()"
    orderNumber
  />
  <div class="input-group-append">
    <span class="input-group-text"> <ng-content></ng-content> </span>
  </div>
</div>
