.input-group{
    border: solid 1px #efefef;
    input{
        border-radius: 0;
        border: 0;
        padding: 9px 8px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 0.1px;
        color: #292929;
        max-height: 30px;
    }
    span{
        border-radius: 0;
        background-color: #fff;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 0.1px;
        color: #cccccc;
        border: 0;
    }
}