<marquee
  scrolldelay="50"
  truespeed
  scrollDelay="100"
  class="d-flex"
  *ngIf="pairsInfo"
  onmouseover="stop();"
  onmouseout="start();"
>
  <div class="scroll-div d-flex align-items-center flex-nowrap">
    <div class="d-flex align-items-center" *ngFor="let pair of pairsInfo">
      <!-- IF FAVOTITE  -->
      <i class="material-icons" *ngIf="pair?.favorite">star</i>
      <!-- PAIRS PRICE -->
      <p>
        {{ pair?.id }}: <span class="green-text">{{ pair?.last }}</span>
      </p>
    </div>
  </div>
</marquee>
