:host {
  width: 100%;
  i {
    font-size: 12px;
    color: #ecc705;
    margin-right: 5px;
  }
  .scroll-div {
    div {
      margin-right: 10px;
    }
  }

  p {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.1px;
    color: #292929;
    margin-bottom: 0;
  }
}
