$background-green-color: rgba(112, 198, 112, 0.6);
$border-color: #70c670;

button{
    background-color: $background-green-color;
    border: solid 1px $border-color;
    cursor: pointer;

    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;

    &:hover{
        background-color: $border-color;
    }
}