/* You can add global styles to this file, and also import other style files */
$font-stack: Montserrat, sans-serif;

html {
  height: 100%;

  body {
    &.modal-open {
      overflow: hidden;

      .blur {
        filter: blur(4px);
      }
    }

    &.headerActive {
      overflow-y: hidden !important;
    }

    .modal-backdrop {
      background-color: #c4c4c4;
    }

    a {
      color: #82d682;
      font-weight: 500;

      &:hover {
        color: #292929;
      }
    }

    height: 100%;
    font-family: $font-stack;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 2px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e0e0e0;
      border: 0;
    }

    * {
      &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar {
        width: 5px;
        height: 2px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #e0e0e0;
        border: 0;
      }
    }

    .mobileContent {
      position: relative;
      width: 100%;
      overflow: hidden;
      visibility: visible;
      transition: all 0.3s linear;

      &.active {
        margin-left: 290px;
        -webkit-opacity: 0.4;
        -moz-opacity: 0.4;
        -khtml-opacity: 0.4;
        -o-opacity: 0.4;
        opacity: 0.4;
        transform: scale(0.96);
      }
    }
  }
}

.mr-20 {
  margin-right: 20px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

/*LoginStyles*/
.md-mobileCountry {
  p-dropdown {
    .ui-dropdown {
      border: 0 !important;
      border-bottom: 1px solid #eaeaea !important;
      label {
        &.ui-dropdown-label {
          font-size: 15px !important;
          padding: 10px 0 !important;
        }
      }
      .ui-dropdown-trigger {
        width: 18px !important;
      }
    }
  }
}
.md-form {
  margin: 0 0 20px;
  position: relative;
  &.email_f {
    input {
      padding-left: 30px !important;
      width: calc(100% - 30px);
    }
    &::before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: url(assets/img/login/email_login.svg) no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 15px;
      left: 1px;
    }
    label {
      top: -4px;
      &.active {
        transform: translateY(0%);
      }
    }
  }
  &.pass_f {
    input {
      padding-left: 30px !important;
      width: calc(100% - 30px);
    }
    &::before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: url(assets/img/login/lock_login.svg) no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 15px;
      left: 1px;
    }
    label {
      top: -4px;
      &.active {
        transform: translateY(0%);
      }
    }
  }
  &.success_input {
    &::after {
      content: '';
      display: block;
      background: url(assets/img/success-i.svg) no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      background-size: contain;
      top: 17px;
      right: 0px;
    }
  }
  &.error_input {
    > input {
      border-bottom: 1px solid #ff6869;
    }
    &::after {
      content: '';
      display: block;
      background: url(assets/img/error-i.svg) no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      background-size: contain;
      top: 17px;
      right: 0px;
    }
  }
  label {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    top: 20px;
    letter-spacing: normal;
    color: #808080 !important;
    &.active {
      transform: translateY(-170%);
      font-size: 15px;
    }
  }
  input {
    padding: 7px 0 0px 0px !important;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    height: 31px !important;
    color: #292929 !important;
    border-bottom: 1px solid #eaeaea;
    &:focus {
      border-bottom: 1px solid #f1f1f1 !important;
      box-shadow: 0 1px 0 0 #f1f1f1 !important;
    }

    &:-webkit-autofill,
    &:focus:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
      -webkit-box-shadow: 0 0 0 30px white inset, 0 4px 10px 0 rgba(0, 0, 0, 0);
      -webkit-text-fill-color: #292929 !important;
    }
    &:-internal-autofill-selected {
      background-color: #fff !important;
    }
  }
  .input-group {
    input {
      margin-bottom: 5px;
    }
    .input-group-prepend {
      max-width: 50px;
      position: relative;
      &::after {
        content: '';
        display: block;
        height: 20px;
        width: 1px;
        background: #eaeaea;
        position: absolute;
        right: 6px;
        top: 13px;
      }
      input {
        margin-bottom: 5px;
      }
    }
  }
}
/*LS*/

/*BUTTONS*/

$background-white-color: #fff;
$background-green-color: rgba(112, 198, 112, 0.6);
$background-login-color: #b8e4b8;
$background-saturatedGreen-color: #70c670;
$border-color: #70c670;
$border-login-color: #72ca72;
$background-red-color: #f68385;
$border-red-color: #f06d6e;

button {
  border-radius: 0 !important;

  &.btn-saturatedGreen {
    background-color: $background-saturatedGreen-color;
    border: solid 1px $border-color;
    cursor: pointer;

    &:hover {
      background-color: $background-white-color;
      color: #70c670;
      border: solid 1px $border-color;
    }
  }

  &.btn-redbutton {
    background-color: $background-red-color;
    border: solid 1px $border-red-color;
    cursor: pointer;
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;

    &:hover {
      background-color: $border-red-color;
    }
  }

  &.btn-border {
    background-color: $background-white-color;
    border: solid 1px $border-color;
    color: #70c670;
    cursor: pointer;

    &.on {
      border: solid 1px #ec6c6d;
      color: #ec6c6d;

      &:hover {
        background-color: #f5b5b6;
        color: #fff;
      }
    }

    &.red-border {
      border: solid 1px #ec6c6d;
      color: #ec6c6d;
      background-color: $background-white-color;

      &:hover {
        background-color: #f5b5b6 !important;
        color: #fff;
      }
    }

    &:hover {
      background-color: #a9dda9 !important;
      color: #fff !important;
    }
  }

  &.btn-light-green {
    background-color: $background-green-color;
    border: solid 1px $border-color;
    cursor: pointer;

    &:hover {
      background-color: $border-color;
    }
  }

  &.btn-login-green {
    background-color: $border-login-color;
    border: solid 2px $border-login-color;
    cursor: pointer;
    color: #292929;
    &:hover {
      background-color: $background-white-color;
      color: #292929;
    }
  }

  transition: 0.4s all !important;
}

/*BUTTONS*/

/*INPUTS*/
.form-group {
  input {
    width: 100%;
    border: 1px solid #e5e5e5;
    padding: 13px 20px;
    line-height: 1;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.1px;
    color: #292929;

    &::-webkit-input-placeholder {
      /*Chrome/Opera/Safari*/
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #757575;
      transition: ease-in 0.3s;
      transform-origin: 0 50%;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #757575;
      transition: ease-in 0.3s;
      transform-origin: 0 50%;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #757575;
      transition: ease-in 0.3s;
      transform-origin: 0 50%;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #757575;
      transition: ease-in 0.3s;
      transform-origin: 0 50%;
    }
  }

  &.till_date {
    .mat-datepicker-toggle {
      position: absolute;
      right: 7px;
      bottom: 3px;

      .mat-icon-button {
        width: 18px !important;
        height: 18px;
        line-height: 0;

        span {
          svg {
            width: 18px;
            fill: #cccccc;
          }
        }
      }
    }
  }
}

input {
  &.form-default {
    background: transparent;
    border: 1px solid #b6b6b6;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #292929;
    outline: none;
    width: 100%;
    box-shadow: none;
  }

  &.login-input {
  }
}

textarea {
  border-radius: 0;
  padding: 9px 8px;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  color: #292929;
  border: solid 1px #efefef;
  outline: none;
  resize: none;
  max-height: 32px;
  display: block;
}

.form-group.error_input {
  > input {
    border: 1px solid #ff6869;
  }

  &::after {
    content: '';
    display: block;
    background: url(assets/img/error-i.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: contain;
    top: 17px;
    right: 20px;
  }
}

.form-group.success_input {
  &::after {
    content: '';
    display: block;
    background: url(assets/img/success-i.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: contain;
    top: 17px;
    right: 20px;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -webkit-box-shadow: 0 0 0 30px white inset, 0 4px 10px 0 rgba(0, 0, 0, 0);
  -webkit-text-fill-color: #292929 !important;
}

form.form-search {
  margin: 0;
  position: relative;

  input {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.1px;
    height: auto !important;
    color: #757575 !important;
    border: 1px solid #e5e5e5 !important;
    padding: 6px 8px !important;
    margin: 0 !important;

    &:focus {
      box-shadow: none !important;
    }
  }

  i {
    font-size: 14px;
    color: #99e499;
    margin: 0;
    position: absolute;
    right: 8px;
    top: 7px;
  }
}

/*INPUTS*/

/*SELECT*/
.select {
  select {
    background: transparent;
    border: 1px solid #b6b6b6;
    padding: 17px 20px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #292929;
    outline: none;
    width: 100%;
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  position: relative;

  &::after {
    content: '';
    display: block;
    background: url(assets/img/select_arrow.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: contain;
    top: 17px;
    right: 20px;
  }
}

.select_sm {
  select {
    background: transparent;
    border: 1px solid #e5e5e5;
    padding: 6px 8px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #757575;
    outline: none;
    width: 100%;
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  position: relative;
  min-width: 200px;

  &::after {
    content: '';
    display: block;
    background: url(assets/img/select_arrow.svg) no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    background-size: contain;
    top: 6px;
    right: 10px;
  }
}

/*SELECT*/
.navbar {
  &.mobile-navbar {
    flex-direction: row-reverse;
    justify-content: center;
  }

  background-color: #fff;

  .navbar-toggler {
    padding: 0;
    position: absolute;
    top: 6px;
    left: 10px;

    .navbar-toggler-icon {
      background: url(assets/img/hamburger.svg) no-repeat;
    }
  }
}

.navbar,
.display_settings,
.options {
  box-shadow: none;
  padding: 12px 16px;

  .nav-item {
    .nav-link {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #757575;
      display: flex;
      align-items: center;

      &:hover {
        color: #2e992e;
      }
    }
  }

  .dropdown,
  .custom-dropdown {
    a.lang {
      + .dropdown-menu {
        .dropdown-item {
          text-transform: uppercase;
        }
      }
    }

    .dropdown-menu {
      // top: -17px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
      border: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      min-width: auto;

      a {
        padding: 0 12px;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #757575;
      }

      a.active {
        background-color: #ffffff;
        border-left: solid 2px #82d682;
        font-weight: 500 !important;
        color: #292929 !important;
      }

      .dropdown-item:hover {
        background: transparent;
        color: #82d682 !important;
      }

      .dropdown-item:focus {
        background: transparent;
        border-left: solid 2px #82d682;
      }
    }
  }

  .dropdown-toggle::after {
    vertical-align: middle;
    content: '';
    color: #2e992e;
    border-top: 3px solid;
    border-right: 3px solid transparent;
    border-bottom: 0;
    border-left: 3px solid transparent;
  }
}

.green-text {
  color: #3ecc3e !important;
}

.light-green-text {
  color: #70c670;
}

.light-red-text {
  color: #ec6c6d;
}

.down {
  color: #ec6c6d !important;
}

.up {
  color: #70c670 !important;
}

.btn_default {
  box-shadow: 0 3px 15px 0 rgba(41, 41, 41, 0.07);
  padding: 8.5px 38px;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  color: #ffffff;
  outline: none;
  text-transform: uppercase;
  width: 100%;
  outline: none !important;
  white-space: nowrap;

  &:disabled {
    background-color: #fafafa;
    border: 1px solid #fafafa;
    font-size: 10px;
    font-weight: 600;
    color: #cdcdcd;
    box-shadow: none;
  }
}

.btn_with_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_with_icon > i {
  font-size: 14px;
}

input:disabled {
  border: solid 1px #efefef;
  background-color: #f7f7f7 !important;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  color: #cccccc;
  padding: 9px 8px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  max-height: 30px;

  &::-webkit-input-placeholder {
    /*Chrome/Opera/Safari*/
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #757575;
    transition: ease-in 0.3s;
    transform-origin: 0 50%;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #757575;
    transition: ease-in 0.3s;
    transform-origin: 0 50%;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #757575;
    transition: ease-in 0.3s;
    transform-origin: 0 50%;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #757575;
    transition: ease-in 0.3s;
    transform-origin: 0 50%;
  }
}

input[type='checkbox'] {
  outline: none !important;
}

.custom-control-input:focus {
  + .custom-control-label::before {
    box-shadow: none;
  }
}

.custom-checkbox .custom-control-input:checked {
  + .custom-control-label::before {
    background-color: #fff;
  }
}

.custom-checkbox .custom-control-input:checked {
  + .custom-control-label::after {
    background: url(assets/img/done_checkbox.svg) no-repeat;
    background-size: cover;
  }
}

.checkbox .custom-control-label {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #292929;
  outline: none !important;
  cursor: pointer;
}

.custom-control-label::before {
  content: '';
  border-radius: 0 !important;
  border: solid 1px #c4c4c4;
  background-color: #fff;
  top: 0;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.custom-control-label::after {
  top: 0;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.inputGroup {
  display: block;
  position: relative;

  label {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: #757575;
    cursor: pointer;
    position: relative;
    transition: color 200ms ease-in;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 12px;
      height: 12px;
      content: '';
      border: 1px solid #c4c4c4;
      background-color: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: all 200ms ease-in;
      margin-left: 5px;
    }
  }

  input:checked ~ label {
    &:before {
      opacity: 1;
    }

    &:after {
      border-color: #c4c4c4;
      background-size: 10px;
      background: #fff url(assets/img/radio.svg) no-repeat 50%;
    }
  }

  input {
    width: 12px;
    height: 12px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}

.form-control {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.form-group {
  position: relative;

  label {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.1px;
    color: #757575;
    margin-bottom: 6px;
  }

  p-dropdown {
    width: 100%;

    .ui-dropdown {
      border-radius: 0px;
      border: 1px solid #dbdbdb;
      width: 100% !important;

      &:hover {
        border-color: #dbdbdb;
      }

      label.ui-dropdown-label {
        margin: 0;
        padding: 11px 15px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #292929;
        font-family: Montserrat;
      }

      .ui-dropdown-trigger {
        width: 3em;

        .ui-dropdown-trigger-icon {
          font-size: 14px;
          color: #b5b5b5;
        }
      }

      .ui-dropdown-panel {
        border: 1px solid #dbdbdb;
        box-shadow: none;
        top: 36px !important;
        border-radius: 0;
        margin: -1px;

        .ui-dropdown-items-wrapper {
          ul {
            .ui-dropdown-item {
              &.ui-state-highlight {
                background-color: #70c670;
              }
            }
          }
        }
      }
    }
  }
}

.reg-form {
  p-dropdown {
    width: 100%;

    .ui-dropdown {
      border-radius: 0px;
      border: 1px solid #b6b6b6;
      width: 100% !important;

      &:hover {
        border-color: #b6b6b6;
      }

      label.ui-dropdown-label {
        margin: 0;
        padding: 18px 20px;
        text-align: left;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #292929;
        font-family: Montserrat;
      }

      .ui-dropdown-trigger {
        width: 3em;

        .ui-dropdown-trigger-icon {
          font-size: 14px;
          color: #b6b6b6;
        }
      }

      .ui-dropdown-panel {
        border: 1px solid #b6b6b6;
        box-shadow: none;
        top: 56px !important;
        border-radius: 0;
        margin: -1px;

        .ui-dropdown-items-wrapper {
          ul {
            .ui-dropdown-item {
              &.ui-state-highlight {
                background-color: #70c670;
              }
            }
          }
        }
      }
    }
  }
}

.card {
  background: transparent !important;
  box-shadow: none !important;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;

  .card-body {
    padding: 0;

    h4 {
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.1px;
      color: #000000;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}

.tooltip-inner {
  padding: 11px 12px;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  color: #292929;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 3px 15px 0 rgba(41, 41, 41, 0.15);
}

.st_ls {
  .tooltip-inner {
    text-align: justify;
    min-width: 200px;
  }
}

.tooltip-arrow {
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-width: 0;
  border-bottom-color: #fff;
  margin-left: auto;
  margin-right: auto;

  &.left {
    position: relative;
    margin-right: -0.6rem;
    transform: rotate(90deg);
  }

  &.right {
    position: relative;
    margin-left: -0.6rem;
    transform: rotate(-90deg);
  }

  &.top {
    position: relative;
    transform: rotate(-180deg);
  }
}

.popover {
  box-shadow: 0 3px 15px 0 rgba(41, 41, 41, 0.15);
  background-color: #ffffff;
  border: 0;
  max-width: 170px;

  .arrow {
    &::before {
      border-top-color: #fff;
    }
  }

  .popover-body {
    padding: 0;

    p {
      font-family: Montserrat;
      font-size: 9px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 0.1px;
      color: #292929;
      margin-bottom: 0;
    }

    .pop_arrow {
      position: relative;
      background: #fff;
      padding: 8px 10px;

      &::before {
        content: '';
        display: block;
        background: url(assets/img/kr_arrow.svg) no-repeat;
        position: absolute;
        top: 13px;
        left: -40px;
        width: 90px;
        height: 105px;
        z-index: -1;
      }
    }

    .pop_arrowSL {
      position: relative;
      background: #fff;
      padding: 8px 10px;

      &::before {
        content: '';
        display: block;
        background: url(assets/img/kr_arrow2.svg) no-repeat;
        position: absolute;
        top: -86px;
        left: 33px;
        width: 90px;
        background-size: contain;
        height: 95px;
        z-index: -1;
      }
    }
  }
}

.scroll_table {
  max-height: 320px;
  min-height: 320px;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
}

table.table {
  margin-bottom: 0 !important;

  thead {
    display: block;

    tr {
      display: flex;
    }
  }

  tbody {
    display: block;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 284px;

    tr {
      width: 100%;
      display: flex;
    }
  }
}

a.loadMore {
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.1px;
  color: #757575;
  display: block;
  text-align: center;
  width: 100%;
  padding: 12px 0;
  text-decoration: underline !important;
}

.error_text {
  position: absolute;

  p {
    font-size: 11px !important;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96 !important;
    text-align: left;
    letter-spacing: normal;
    color: #ff6869 !important;
    margin-bottom: 0 !important;
  }
}

.visible-false {
  background: url(assets/img/visible-false.svg) no-repeat;
}

.visible-true {
  background: url(assets/img/visible-true.svg) no-repeat;
}

.edit_number {
  background: url(assets/img/edit_number.svg) no-repeat;
}

/*DATE PICKER*/
.form-datePicker {
  input {
    border-radius: 0;
    padding: 9px 8px;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.1px;
    color: #292929;
    border: solid 1px #efefef;
    outline: none;
  }

  .mat-datepicker-toggle {
    position: absolute;
    right: 10px;
    color: #9d9d9d;

    &.mat-datepicker-toggle-active {
      color: #70c670;
    }

    .mat-icon-button {
      width: 16px;
      height: 16px;
      line-height: 2;
      outline: none;
      position: relative;
      border-radius: 0;

      &.cdk-focused,
      &.cdk-program-focused {
        background: transparent;
        box-shadow: none;
        outline: none;
      }

      span {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 0;

        .mat-datepicker-toggle-default-icon {
          width: 16px;
          height: 16px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.mat-calendar-body-selected {
  background-color: #70c670;
}

/*DATE PICKER*/

/*BREADCRUMPS*/
mdb-breadcrumb {
  .breadcrumb {
    margin-bottom: 30px;
    background-color: transparent;
    padding: 0;

    .item {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #3ecc3e !important;
      cursor: pointer;

      &.active {
        color: #757575 !important;
      }
    }
  }
}

/*BREADCRUMPS*/

.force-scroll {
  overflow-y: scroll;

  height: 200px;
}

*:focus {
  outline: none;
}

/* documents Tooltip */
.documentsToolTip {
  .ui-tooltip-text {
    color: #fff !important;
    font-weight: bold;
    font-size: 12px;
  }
  &.yellow1 {
    .ui-tooltip-text {
      background-color: #efbb00 !important;
    }
    .ui-tooltip-arrow {
      border-top-color: #efbb00 !important;
    }
  }
  &.red1 {
    .ui-tooltip-text {
      background-color: #ec6c6d !important;
    }
    .ui-tooltip-arrow {
      border-top-color: #ec6c6d !important;
    }
  }
  &.green1 {
    .ui-tooltip-text {
      background-color: #5cbd83 !important;
    }
    .ui-tooltip-arrow {
      border-top-color: #5cbd83 !important;
    }
  }
}

/* documents Tooltip  END*/
