$background-red-color: #F68385;
$border-color: #f06d6e;

button{
    background-color: $background-red-color;
    border: solid 2px $border-color;
    cursor: pointer;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;

    &:hover{
        background-color: $border-color;
    }
}